[submodule "vendors/python-artnet"]
	path = vendors/python-artnet
	url = git@github.com:jketterl/python-artnet.git
[submodule "vendors/adafruit"]
	path = vendors/adafruit
	url = git@github.com:jketterl/Adafruit-Raspberry-Pi-Python-Code.git
